@{
    ViewData["Title"] = "Edit Category";
}
@model Category
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white p-2">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            @* <form method="post" asp-action="CreateCategory" asp-controller="Category"> *@
            <div class="border p-3 mt-4">
                @* <div asp-validation-summary="ModelOnly"></div> *@
                <div class="form-floating mb-3">
                    <input asp-for="Name" type="text" id="categoryName" class="form-control border-0 shadow" placeholder="Category Name">
                    <label asp-for="Name" for="categoryName">Category Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="DisplayOrder" type="text" id="displayOrder " class="form-control border-0 shadow" placeholder="Category Name">
                    <label asp-for="DisplayOrder" for="displayOrder ">Category Name</label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="row ">
                    <div class="col-6 col-md-3">
                        <button class="btn btn-primary rounded-3 w-100">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Category" asp-controller="Category" class="btn btn-outline-secondary rounded-3  w-100 text-decoration-none">Back</a>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}